/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/business/virtual-cards/styles.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
/* Toggle Switch */
.toggle-checkbox:checked {
  right: 0;
  border-color: #00FF84;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #00FF84;
}

.toggle-checkbox {
  right: 0;
  transition: all 0.3s;
}

.toggle-label {
  transition: all 0.3s ease-in-out;
}

/* Card Hover Effects */
.virtual-card {
  transition: transform 0.3s ease-in-out;
}

.virtual-card:hover {
  transform: translateY(-4px);
}

/* Input Focus Styles */
input:focus {
  border-color: #00FF84;
  ring-color: #00FF84;
  ring-opacity: 0.5;
}

